.num-results {
  font-family: "Audiowide", sans-serif;
  font-size: 25px;
}


@media only screen and (max-width: 1053px) {
  .num-results {
   font-size: 22px;
   margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .num-results {
   font-size: 22px;
   margin-bottom: 10px;
  }
}

@media only screen and (max-width: 850px) {
  .num-results {
   font-size: 19px;
   margin-bottom: 0px;
  }
}



@media only screen and (max-width: 768px) {
  .num-results {
   font-size: 17px;
   margin-bottom: 10px;
  }
}
