.main {
  margin-top: 2.4rem;
  height: calc(100vh - 7.2rem - 3 * 2.4rem);
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

@media only screen and (max-width: 834px) {
  .main {
    margin-top: 0px;
    height: auto;
    flex-direction: column;
    gap: 0px;
    justify-content: space-around;
    align-items: stretch;
  }
}
