.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
  height: 7.2rem;
  padding: 0 3.2rem;
  background-color: var(--color-primary);
  border-radius: 0.9rem;
  gap: 1.6rem;
}


@media only screen and (max-width: 850px) {
  .navbar {
    padding: 0 1.6rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 11rem;
    gap: 0px;

  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    height: 9rem;
  }
}
